.post-list-container .art-container {
  width: 600px;
  max-height: 600px;
  margin: 100px 50px;
  padding: 0 50px;
  position: relative;
}

.art-container img {
  max-width: 100%;
  height: 400px;
}

.post-list-container-vertical .art-container {
  width: 400px;
  max-height: 400px;
  margin: 50px 50px;
  position: relative;
  border: 2px solid black;
}

.post-list-container-vertical .art-container img {
  height: 300px;
}

.post-list-container-vertical .info-box {
  display: inline-block;
  background: rgba(255, 255, 255, 1);
  padding: 15px;
  border: 2px solid black;
  width: 650px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.info-box {
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border: 2px solid black;
  max-width: 450px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.info-box div {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-box button {
  all: unset;
  cursor: pointer;
  border: 2px solid black;
  color: black;
  padding: 5px 10px;
  transition: 0.2s;
}

.info-box button:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}
